<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"></script>
</head>
<body>
<h1>Mis Recetas</h1>


<div class="row">
    <div class="col-md-6 col-md-offset-3 ">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Mis recetas!</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr class="text-primary">
                            <th>ID</th>
                            <th>Description</th>
                            <th>Ver</th>
                        </tr>
                        </thead>
                        <tr th:each="recipe: ${recipes}">
                            <td th:text="${recipe.id}"></td>
                            <td th:text="${recipe.description}"></td>
                            <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">ver</a></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>