<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{not.implemented}">--</title>
</head>
<body>
<h2 th:text="#{not.implemented}">Not implemented yet</h2>

</body>
</html>