<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pet.owners}">Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="springgurucourse.course.model.Owner"*/-->
<h2 th:text="#{pet.owners}">List of Pet Owners...</h2>

<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px">Id</th>
        <th style="width: 200px">First Name</th>
        <th style="width: 120px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">-1</td>
        <td th:text="${owner?.firstName}">Nothing</td>
        <td th:text="${owner?.lastName}">Nothing</td>

    </tr>
    </tbody>

</table>
</body>
</html>