<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout::layout(~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>
<h2 th:text="#{vets}">List of vets...</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td style="width: 150px" th:text="${vet?.id}">-1</td>
        <td style="width: 200px" th:text="${vet?.firstName}">Nothing</td>
        <td style="width: 120px" th:text="${vet?.lastName}">Nothing</td>

    </tr>
    </tbody>

</table>
</body>
</html>